@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
:root{
    --green: #ECB159;
    --black : #191D23;
    --white: #FEFBF6;
    --secondary: #fefbf681;
    --grey :   #F0EBE3;
    --blackgrey: #45474B;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}



/* explore css */
@media (max-width: 400px) {
    .explorer-wrapper{
        padding: 0.5rem;
    }
    .explorer-container{
        padding: 0.5rem;
    }
    .explorer-container h2{
        font-size: 2rem;
    }
}